/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.search {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(istockphoto-1328689113-612x612.jpg);
  background-size: cover;
  background-attachment: fixed;
}

input {
  background-color: rgb(255, 255, 255);
  padding: 10px 28px;
  border-radius: 5px;
  margin-right: 5px;
  border: 10px 20px;
}

input::placeholder {
  color: rgb(0, 0, 0);

  font-weight: bold;
}

button {
  background-color: rgb(255, 11, 11);
  color: rgb(255, 255, 255);
  cursor: pointer;
  justify-content: space-between;
  padding: 10px 8px;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}

button:hover {
  background-color: rgb(250, 0, 0);
  color: rgb(253, 255, 255);
}
